@font-face
{
    font-family: 'HelveticaNeueCyr Bold';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr Light';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Light/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Light/helveticaneuecyr-light.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Light/helveticaneuecyr-light.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr Medium';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Medium/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Medium/helveticaneuecyr-medium.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Medium/helveticaneuecyr-medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr Roman';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Roman/helveticaneuecyr_roman-webfont.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Roman/helveticaneuecyr_roman-webfont.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Roman/helveticaneuecyr_roman-webfont.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr Thin';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin.ttf') format('truetype');
}

@font-face
{
    font-family: 'HelveticaNeueCyr ThinItalic';
    font-weight: normal;
    font-style: normal;

    src: url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr ThinItalic/helveticaneuecyr-thinitalic.eot?#iefix') format('embedded-opentype'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr ThinItalic/helveticaneuecyr-thinitalic.woff') format('woff'), url('/catalog/view/theme/ceramostyle/css/fonts/HelveticaNeueCyr ThinItalic/helveticaneuecyr-thinitalic.ttf') format('truetype');
}
