/*
 * VALIDATION
 */

.form-group {
    position: relative;
    display: block;
}

.form-group input,
.form-group select {
    position: relative;
}

.form-group label {
    display: block;
    cursor: pointer;
}

.help-block.with-errors {
    font-size: .78em;
    display: block;
    margin: 0 0 .5em 0;
    color: #a94442;
}

.help-block.with-errors ul {
    padding-left: 0;
}

.help-block.with-errors ul li {
    list-style-type: none;
}

.form-group__helper {
    font-size: .78em;
    display: block;
}

.btn-submit {
    display: block;
}


/*
 * MAGNIFIC WARN STYLES
 */

.mfi-container__inner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height: auto;
    transition: all .5s ease-in-out;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, .15);
}

.mfi {
    cursor: pointer;
}


/*
 * EFFECTS
 */


/*
 * 1) .mfp-zoom-in
 * 2) .mfp-newspaper
 * 3) .mfp-move-horizontal
 * 4) .mfp-3d-unfold
 * 5) .mfp-zoom-out
 * 6) .mfp-with-fade
 */

.mfp-zoom-in .mfp-with-anim {
    transition: all .2s ease-in-out;
    -ms-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;
}

.mfp-zoom-in.mfp-bg {
    transition: all .3s ease-out;
    opacity: 0;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
    -ms-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-newspaper .mfp-with-anim {
    transition: all .5s;
    -ms-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
    opacity: 0;
}

.mfp-newspaper.mfp-bg {
    transition: all .5s;
    opacity: 0;
}

.mfp-newspaper.mfp-ready .mfp-with-anim {
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-newspaper.mfp-removing .mfp-with-anim {
    -ms-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
    opacity: 0;
}

.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-move-horizontal .mfp-with-anim {
    transition: all .3s;
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
}

.mfp-move-horizontal.mfp-bg {
    transition: all .3s;
    opacity: 0;
}

.mfp-move-horizontal.mfp-ready .mfp-with-anim {
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-move-horizontal.mfp-removing .mfp-with-anim {
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-3d-unfold .mfp-content {
    perspective: 2000px;
}

.mfp-3d-unfold .mfp-with-anim {
    transition: all .3s ease-in-out;
    transform: rotateY(-60deg);
    opacity: 0;
    transform-style: preserve-3d;
}

.mfp-3d-unfold.mfp-bg {
    transition: all .5s;
    opacity: 0;
}

.mfp-3d-unfold.mfp-ready .mfp-with-anim {
    transform: rotateY(0deg);
    opacity: 1;
}

.mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-3d-unfold.mfp-removing .mfp-with-anim {
    transform: rotateY(60deg);
    opacity: 0;
}

.mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-zoom-out .mfp-with-anim {
    transition: all .3s ease-in-out;
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.mfp-zoom-out.mfp-bg {
    transition: all .3s ease-out;
    opacity: 0;
}

.mfp-zoom-out.mfp-ready .mfp-with-anim {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-zoom-out.mfp-removing .mfp-with-anim {
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-with-fade .mfp-content,
.mfp-with-fade.mfp-bg {
    transition: opacity .4s ease-out;
    opacity: 0;
}

.mfp-with-fade.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-with-fade.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-with-fade.mfp-removing.mfp-bg {
    opacity: 0;
}


/*
 * MAGNIFIC STYLES
 */

.mfp-bg {
    position: fixed;
    z-index: 1042;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #0b0b0b;
}

.mfp-wrap {
    position: fixed;
    z-index: 1043;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    text-align: center;
}

.mfp-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    z-index: 1045;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur {
    cursor: zoom-out;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    position: absolute;
    z-index: 1044;
    top: 50%;
    right: 8px;
    left: 8px;
    width: auto;
    margin-top: -.8em;
    text-align: center;
    color: #ccc;
}

.mfp-preloader a {
    color: #ccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader,
.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    z-index: 1046;
    display: block;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp--title {
    font: 22px/1.2em 'HelveticaNeueCyr Roman';
    position: relative;
    padding-bottom: 24px;
    color: #323232;
}

.mfp--title:after {
    position: absolute;
    bottom: 0;
    left: -30px;
    display: block;
    width: 279px;
    height: 1px;
    content: '';
    background-color: #d5d5d5;
}

.mfp-container__cover {
    position: relative;
    padding: 30px;
}

.mfp-close {
    font-family: Arial, Baskerville, monospace;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    color: #111;
    background: url(/catalog/view/theme/ceramostyle/img/close.png) 0 0 no-repeat;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    right: -6px;
    width: 100%;
    padding-right: 6px;
    text-align: right;
    color: #fff;
}

.mfp-counter {
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    color: #ccc;
}

.mfp-arrow {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 110px;
    margin: 0;
    margin-top: -55px;
    padding: 0;
    opacity: .65;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;
    content: '';
    border: medium inset transparent;
}

.mfp-arrow:after {
    position: absolute;
    top: 0;
    top: 8px;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 35px;
    margin-left: 35px;
    content: '';
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
}

.mfp-arrow:before {
    opacity: .7;
    border-top-width: 21px;
    border-bottom-width: 21px;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    margin-left: 31px;
    border-right: 17px solid #fff;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    margin-left: 39px;
    border-left: 17px solid #fff;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

img.mfp-img {
    line-height: 0;
    display: block;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 40px;
}

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    display: block;
    width: auto;
    height: auto;
    content: '';
    background: #444;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.mfp-figure small {
    font-size: 12px;
    line-height: 14px;
    display: block;
    color: #bdbdbd;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -36px;
    cursor: auto;
}

.mfp-title {
    line-height: 18px;
    padding-right: 36px;
    text-align: left;
    word-wrap: break-word;
    color: #f3f3f3;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-right: 0;
        padding-left: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        position: fixed;
        top: auto;
        bottom: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 3px 5px;
        background: rgba(0, 0, 0, .6);
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        top: 3px;
        right: 5px;
    }
    .mfp-img-mobile .mfp-close {
        line-height: 35px;
        position: fixed;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        padding: 0;
        text-align: center;
        background: rgba(0, 0, 0, .6);
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -ms-transform: scale(.75);
        transform: scale(.75);
    }
    .mfp-arrow-left {
        -ms-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -ms-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-right: 6px;
        padding-left: 6px;
    }
}

.irs {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
    position: absolute;
    top: 0;
    display: block;
}

.irs-line-left {
    left: 0;
    width: 11%;
}

.irs-line-mid {
    left: 9%;
    width: 82%;
}

.irs-line-right {
    right: 0;
    width: 11%;
}

.irs-bar {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
}

.irs-bar-edge {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.irs-shadow {
    position: absolute;
    left: 0;
    display: none;
    width: 0;
}

.irs-slider {
    position: absolute;
    z-index: 1;
    display: block;
    cursor: default;
}

.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute;
    left: 0;
    display: block;
    cursor: default;
}

.irs-max {
    position: absolute;
    right: 0;
    display: block;
    cursor: default;
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 20px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    font-size: 9px;
    line-height: 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
    color: #000;
}

.irs-disable-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -1%;
    display: block;
    width: 102%;
    height: 100%;
    cursor: default;
    background: transparent;
}

.lt-ie9 .irs-disable-mask {
    cursor: not-allowed;
    background: #000;
    filter: alpha(opacity=0);
}

.irs-disabled {
    opacity: .4;
}

.irs-hidden-input {
    font-size: 0 !important;
    line-height: 0 !important;
    position: absolute !important;
    z-index: -9999 !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-style: solid !important;
    border-color: transparent !important;
    outline: none !important;
    background: none !important;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(./sprite-skin-simple.png) repeat-x;
}

.irs {
    height: 40px;
}

.irs-with-grid {
    height: 60px;
}

.irs-line {
    top: 25px;
    height: 6px;
}

.irs-line-left {
    height: 6px;
    background-position: 0 -30px;
}

.irs-line-mid {
    height: 6px;
    background-position: 0 0;
}

.irs-line-right {
    height: 6px;
    background-position: 100% -30px;
}

.irs-bar {
    top: 25px;
    height: 6px;
    background-position: 0 -60px;
}

.irs-bar-edge {
    top: 25px;
    width: 7px;
    height: 6px;
    background-position: 0 -90px;
}

.irs-shadow {
    top: 34px;
    height: 1px;
    opacity: .75;
    background: #000;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=75);
}

.irs-slider {
    top: 21px;
    width: 8px;
    height: 15px;
    background-position: 0 -120px;
}

.irs-slider.state_hover,
.irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min,
.irs-max {
    font-size: 10px;
    line-height: 1.333;
    top: 0;
    padding: 1px 3px;
    color: #c0c0c0;
    border-radius: 3px;
    background: rgba(0, 0, 0, .1);
    text-shadow: none;
}

.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
    background: #3654b0;
}

.irs-from,
.irs-to,
.irs-single {
    font-size: 10px;
    line-height: 1.333;
    padding: 1px 5px;
    color: #000;
    border-radius: 3px;
    background: rgba(255, 255, 255, .8);
    text-shadow: none;
}

.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
    background: #d8dff3;
}

.irs-grid-pol {
    background: #777;
}

.irs-grid-text {
    color: #e0e0e0;
}

.select2-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    display: block;
    box-sizing: border-box;
    height: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
}

.select2-container[dir='rtl'] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container .select2-selection--multiple {
    display: block;
    box-sizing: border-box;
    min-height: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select2-container .select2-search--inline {
    float: left;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0;
    border: none;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-dropdown {
    position: absolute;
    z-index: 1051;
    left: -100000px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    background-color: #e8e8e8;
}


.select2-results {
    display: block;
}

.select2-results__options {
    margin: 0;
    padding: 0;
    list-style: none;
}

.select2-results__option {
    padding: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #e8e8e8;
    color: #333;
    font: 17px/1.2em 'HelveticaNeueCyr Bold';
}

.select2-results__option[aria-selected] {
    cursor: pointer;
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
}

.select2-search--dropdown .select2-search__field {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.select2-close-mask {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: block;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    border: 0;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    color: #444;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    height: 26px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -4px;
    border-width: 5px 4px 0 4px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
}

.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--default[dir='rtl'] .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 1px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: default;
    background-color: #eee;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #888 transparent;
}

.select2-container--default .select2-selection--multiple {
    cursor: text;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    float: left;
    margin-top: 5px;
    color: #999;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    font-weight: bold;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0 5px;
    cursor: default;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #e4e4e4;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
    color: #999;
}

.select2-container{
    user-select: none !important;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
}

.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-search--inline {
    float: right;
}

.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice {
    margin-right: auto;
    margin-left: 5px;
}

.select2-container--default[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: auto;
    margin-left: 2px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    cursor: default;
    background-color: #eee;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none;
    outline: 0;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-y: auto;
    max-height: 200px;
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: white;
    background-color: #5897fb;
}

.select2-container--default .select2-results__group {
    display: block;
    padding: 6px;
    cursor: default;
}

.select2-container--classic .select2-selection--single {
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, white 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    color: #444;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    font-weight: bold;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    height: 26px;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -4px;
    border-width: 5px 4px 0 4px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
}

.select2-container--classic[dir='rtl'] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--classic[dir='rtl'] .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 1px;
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    border: none;
    background: transparent;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #888 transparent;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: linear-gradient(to bottom, white 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: linear-gradient(to bottom, #eee 50%, white 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
    cursor: text;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-color: white;
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    margin: 0;
    padding: 0 5px;
    list-style: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0 5px;
    cursor: default;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #e4e4e4;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
    color: #888;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
}

.select2-container--classic[dir='rtl'] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-right: auto;
    margin-left: 5px;
}

.select2-container--classic[dir='rtl'] .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: auto;
    margin-left: 2px;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}

.select2-container--classic .select2-dropdown {
    border: 1px solid transparent;
    background-color: #e8e8e8;
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
    border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
    overflow-y: auto;
    max-height: 200px;
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    color: white;
    background-color:#e8e8e8;
}

.select2-container--classic .select2-results__group {
    display: block;
    padding: 6px;
    cursor: default;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #e8e8e8;
}
