Привет, <br>
вы оформили подписку на сайте Керамостиль, необходимо подтвердить это действие:
<a href="<?php echo $url_agree?>">Да, это был точно я</a><br>
<a href="<?php echo $url_unagree?>">Нет, отпишите меня</a><br><br>
