@font-face {
    font-family: 'HelveticaNeueCyr Bold';
    src: url('fonts/helveticaneuecyr-bold.eot');
    src: url('fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-bold.woff') format('woff'),
         url('fonts/helveticaneuecyr-bold.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-bold.svg#HelveticaNeueCyr Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}