@font-face {
    font-family: 'HelveticaNeueCyr Light';
    src: url('helveticaneuecyr-light.eot');
    src: url('helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light.woff') format('woff'),
         url('helveticaneuecyr-light.ttf') format('truetype'),
         url('helveticaneuecyr-light.svg#HelveticaNeueCyr Light') format('svg');
    font-weight: normal;
    font-style: normal;
}