<?php echo $header; ?>
<div class="liders-b sliders-block">
  <div class="container">
    <div class="row">
      <div class="site_size">
        <ul class="breadcrumbs">
          <?php foreach ($breadcrumbs as $breadcrumb): ?>
              <li>
                  <a <?php echo end($breadcrumbs) == $breadcrumb ? 'class="active"' : ''; ?> href="<?php echo $breadcrumb['href']; ?>">
                      <?php echo $breadcrumb['text']; ?>
                  </a>
              </li>
          <?php endforeach; ?>
        </ul>
        <h1 class="mainH1">Дизайн проект</h1>
        <div class="vac-img vac-3d-img">
          <img src="/catalog/view/theme/ceramostyle/img/des-proj.jpg">
          <div class="d3text">
            <span class="d3-big">3d дизайн</span>
            <span class="d3-sm">проект</span>
          </div>
        </div>
        <div class="oText">
          <p>Воспользуйтесь услугой «3D дизайн-проект» совершенно бесплатно! Оставьте заявку прямо сейчас, и вы получите уникальную возможность до начала ремонта увидеть, как будет выглядеть помещение, получить расчет стоимости всех материалов, которые требуются для реализации проекта, проконсультироваться с опытным консультантом-дизайнером по всем волнующим вопросам.</p>

          <button class="mfi des-pr-btn" data-url="#callBack">Записаться на 3D дизайн-проект</button>

          <h2 class="h1T" style="margin-bottom: 25px;">СТИЛЬНЫЙ ДОМ КАЖДЫЙ ДЕНЬ!</h2>
          <p>Хотите избежать ошибок при проведении ремонта, сократив расходы средств и времени? Бесплатный 3D дизайн-проект – услуга, которая предоставляет уникальную возможность до начала ремонта получить четкое изображение интерьера помещения. Для вашего удобства мы разработаем готовый дизайн-проект в максимально сжатые сроки и отправим вам на адрес электронной почты.</p>
          <p>Преимущества заказа дизайн-проекта в «CeramoStyle»:</p>
          <p>В нашей компании работают исключительно высококвалифицированные консультанты-дизайнеры, которые с удовольствием создадут для вас интерьер мечты, реализуют проект любого уровня сложности;</p>
          <p>Индивидуальный подход ко всем пожеланиям клиента, высокий уровень сервиса и обслуживания;</p>
          <p>Вы получите бесплатный дизайн-проект и подробную консультацию специалиста по всем вопросам всего через час после заказа услуги.</p>


          <h1 class="h1T" style="margin-bottom:48px; margin-top:62px;">ВОСПОЛЬЗУЙТЕСЬ УНИКАЛЬНЫМ ПРЕДЛОЖЕНИЕМ СОВЕРШЕННО БЕСПЛАТНО:<br> ПОЛУЧИТЕ ДИЗАЙН ИНТЕРЬЕРА СВОЕЙ МЕЧТЫ, НАСЛАЖДАЙТЕСЬ КРАСОТОЙ И КОМФОРТОМ КАЖДЫЙ ДЕНЬ!</h1>
          <p>Не тратьте время на посещение разных магазинов города: у нас вы с легкостью подберете все материалы и элементы декора. В каталоге представлены лучшие модели сантехники, керамической плитки, керамогранита и других материалов от ведущих европейских и российских производителей.</p>
          <div class="bot-margin-block"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>
