@font-face {
    font-family: 'HelveticaNeueCyr Medium';
    src: url('helveticaneuecyr-medium.eot');
    src: url('helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-medium.woff') format('woff'),
         url('helveticaneuecyr-medium.ttf') format('truetype'),
         url('helveticaneuecyr-medium.svg#HelveticaNeueCyr Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}