@font-face {
    font-family: 'hvncThinItalic';
    src: url('../fonts/helveticaneuecyr-thinitalic.eot');
    src: url('../fonts/helveticaneuecyr-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thinitalic.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thinitalic.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-thinitalic.svg#myriadprolight') format('svg');
    font-weight: normal;
    font-style: normal;
}