@font-face {
    font-family: 'HelveticaNeueCyr Thin';
    src: url('fonts/helveticaneuecyr-thin.eot');
    src: url('fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-thin.woff') format('woff'),
         url('fonts/helveticaneuecyr-thin.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-thin.svg#HelveticaNeueCyr Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}